# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
/media

# Environnement
.env
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbdir

images download/

# Vidéos : hébergées en externe (GitHub Releases / CDN), jamais versionnées dans Git
*.mp4
*.mov
*.avi