{% extends "base.html" %}
{% load static %} 

{% block title %}À propos - ATECMI{% endblock %}

{% block content %}
<section class="hero-about">
    <img src="{% static 'images/about/about.png' %}" alt="Background" class="bg-image">

    <div class="hero-about-content">
        <img src="{% static 'images/Logo-04.png' %}" alt="ATECMI" class="hero-logo">
    </div>
</section>
<section class="about">
    <h2 class="text-center">À propos d’<strong>Atecmi</strong></h2>
    <p>Basée à Socx, dans le Nord de la France, ATECMI est une entreprise industrielle spécialisée dans la conception et la fabrication de solutions de <strong>manutention</strong>, de <strong>transitique</strong> et de <strong>machines de conditionnement</strong>. Depuis sa création en 1978, la société accompagne les industriels dans l’optimisation de leurs lignes de production grâce à des équipements performants et sur mesure.</p>
    <p>Forte de plus de <strong>40 ans d’expertise</strong> , ATECMI intervient auprès de nombreux secteurs d’activité tels que l’agroalimentaire, la chimie et la pharmacie. L’entreprise conçoit et réalise des <strong>lignes complètes automatisées</strong>, intégrant des systèmes de convoyage, de stockage et de packaging adaptés aux contraintes spécifiques de chaque client.</p>
</section>
<section class="about-last">
    <img src="{% static 'images/about/about2.png' %}" alt="Image about" class="about-image"> 
</section>
<section class="about-part2">
    <div class="about-row">
        <div class="about-col text-col">
            <p>ATECMI propose une <strong>offre globale</strong> couvrant l’ensemble des besoins industriels : <strong>étude technique, ingénierie, fabrication de machines spéciales, installation sur site</strong> et maintenance industrielle. Cette maîtrise complète du cycle de vie des équipements garantit des solutions fiables, évolutives et parfaitement intégrées aux processus existants.</p>
        </div>
        <div class="about-col img-col">
            <img src="{% static 'images/about/1.png' %}" alt="Image 1">
        </div>
    </div>
    <div class="about-row">
        <div class="about-col img-col">
            <img src="{% static 'images/about/2.png' %}" alt="Image 2">
        </div>
        <div class="about-col text-col">
            <p>Implantée dans les Hauts-de-France, ATECMI s’appuie sur une équipe d’experts en mécanique, automatisme et intégration industrielle. Cette organisation permet de répondre efficacement aux enjeux de productivité, de sécurité et de performance des entreprises industrielles.</p>
        </div>
    </div>
    <div class="about-row">
        <div class="about-col text-col">
            <p>Entreprise à taille humaine, ATECMI se distingue par sa proximité avec ses clients, sa capacité d’adaptation et son savoir-faire reconnu dans la conception de machines industrielles sur mesure. Elle s’impose aujourd’hui comme un partenaire de confiance pour tous les projets de manutention automatisée et de lignes de production clés en main en France et à l’international.</p>
        </div>
        <div class="about-col img-col">
            <img src="{% static 'images/about/3.png' %}" alt="Image 3">
        </div>
    </div>
</section>
<section class="about-conclusion">
    <h2>Pourquoi choisir ATECMI pour votre palettisation industrielle ?</h2>
    <ul>
        <li>Une expertise reconnue en machines industrielles</li>
        <li>Des solutions 100 % sur mesure</li>
        <li>Une maîtrise complète de votre projet</li>
        <li>Une implantation stratégique dans le Nord</li>
        <li>Accompagnement de l’étude à la mise en service</li>
        <li>Une équipe d’experts à votre service</li>
        <li>Performance, fiabilité et innovation</li>
    </ul>
</section>
{% endblock %}