{% extends "base.html" %}
{% load static %} 

{% block title %}ATECMI Socx – Expert en manutention, transitique et machines industrielles{% endblock %}
{% block meta_description %}ATECMI, entreprise industrielle basée à Socx dans le Nord, conçoit des solutions de manutention, transitique et machines spéciales sur mesure.{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<section class="hero-about">
    <img src="{% static 'images/about/about.png' %}" alt="Background" class="bg-image">

    <div class="hero-about-content">
        <img src="{% static 'images/Logo-04.png' %}" alt="ATECMI" class="hero-logo">
    </div>
</section>
<section class="about">
    <h1 class="mb-7 text-center text-xl font-semibold leading-snug tracking-tight md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-4xl">À propos d’<strong>Atecmi</strong></h1>
    <p>Basée à Socx, dans le Nord de la France, ATECMI est une entreprise industrielle spécialisée dans la conception et la fabrication de solutions de <strong>manutention</strong>, de <strong>transitique</strong> et de <strong>machines de conditionnement</strong>. Depuis sa création en 1978, la société accompagne les industriels dans l’optimisation de leurs lignes de production grâce à des équipements performants et sur mesure.</p>
    <p>Forte de plus de <strong>40 ans d’expertise</strong> , ATECMI intervient auprès de nombreux secteurs d’activité tels que l’agroalimentaire, la chimie et la pharmacie. L’entreprise conçoit et réalise des <strong>lignes complètes automatisées</strong>, intégrant des systèmes de convoyage, de stockage et de packaging adaptés aux contraintes spécifiques de chaque client.</p>
</section>
<section class="about-last">
    <img src="{% static 'images/about/about2.png' %}" alt="Image about" class="about-image"> 
</section>

<section class="features-cascade">
    <div class="cascade-row">
        <div class="cascade-col text-col">
            <h2 class="mb-5 text-center text-base font-bold leading-snug md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl">Expertise en manutention et transitique industrielle</h2>
            <p>ATECMI propose une <strong>offre globale</strong> couvrant l’ensemble des besoins industriels : <strong>étude technique, ingénierie, fabrication de machines spéciales, installation sur site</strong> et maintenance industrielle. Cette maîtrise complète du cycle de vie des équipements garantit des solutions fiables, évolutives et parfaitement intégrées aux processus existants.</p>
        </div>
        <div class="cascade-col img-col">
            <img src="{% static 'images/about/1.png' %}" alt="Image 1">
        </div>
    </div>
    <div class="cascade-row">
        <div class="cascade-col img-col">
            <img src="{% static 'images/about/2.png' %}" alt="Image 2"> 
        </div>
        <div class="cascade-col text-col">
            <h2 class="mb-5 text-center text-base font-bold leading-snug md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl">Implantation dans le Nord – Socx</h2>
            <p>Implantée dans les Hauts-de-France, ATECMI s’appuie sur une équipe d’experts en mécanique, automatisme et intégration industrielle. Cette organisation permet de répondre efficacement aux enjeux de productivité, de sécurité et de performance des entreprises industrielles.</p>
        </div>
    </div>
    <div class="cascade-row">
        <div class="cascade-col text-col">
            <h2 class="mb-5 text-center text-base font-bold leading-snug md:text-lg lg:text-xl xl:text-xl 2xl:text-2xl">Solutions industrielles sur mesure</h2>
            <p>Entreprise à taille humaine, ATECMI se distingue par sa proximité avec ses clients, sa capacité d’adaptation et son savoir-faire reconnu dans la conception de machines industrielles sur mesure. Elle s’impose aujourd’hui comme un partenaire de confiance pour tous les projets de manutention automatisée et de lignes de production clés en main en France et à l’international.</p>
        </div>
        <div class="cascade-col img-col">
            <img src="{% static 'images/about/3.png' %}" alt="Image 3">
        </div>
    </div>
</section>
<section class="about-conclusion">
    <h2 class="text-lg font-bold leading-snug md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">Pourquoi choisir ATECMI pour votre palettisation industrielle ?</h2>
    <div class="flex justify-center">
    <ul class="text-left text-base leading-relaxed md:text-lg xl:text-lg 2xl:text-xl list-disc list-inside space-y-2">
        <li>Une expertise reconnue en machines industrielles</li>
        <li>Des solutions 100 % sur mesure</li>
        <li>Une maîtrise complète de votre projet</li>
        <li>Une implantation stratégique dans le Nord</li>
        <li>Accompagnement de l’étude à la mise en service</li>
        <li>Une équipe d’experts à votre service</li>
        <li>Performance, fiabilité et innovation</li>
    </ul>
    </div>
</section>
{% endblock %}