{% load static %} 
<footer class="footer">
  <div class="footer-overlay"></div>

  <div class="footer-content">
    
    <div class="footer-left">
        <a href="{% url 'core:home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        
        <p style="margin-top: 0;">5, Rue du Millénium<br>
            Z.A.C. de la croix rouge<br>
            59380 SOCX <br>
            03.28.20.29.20<br>
            contact@atecmi.com<br>
        </p>
        <a href="#" class="linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>

    <div class="footer-links">
        <h2>Nos solutions</h2>
      <ul>
        <li><a href="{% url 'solutions:depalettisation' %}">Dépalettisation</a></li>
        <li><a href="{% url 'solutions:convoyage_produit' %}">Convoyage produits unitaires</a></li>
        <li><a href="{% url 'solutions:encartonnage' %}">Encartonnage</a></li>
        <li><a href="{% url 'solutions:convoyage_colis' %}">Convoyage colis</a></li>
        <li><a href="{% url 'solutions:palettisation' %}">Palettisation</a></li>
        <li><a href="{% url 'solutions:integration' %}">Intégration</a></li>
        <li><a href="{% url 'solutions:convoyage_palette' %}">Convoyage palettes</a></li>
        <li><a href="{% url 'solutions:solutions_robotisees' %}">Solutions robotisées</a></li>
      </ul>
    </div>

    <div class="footer-links">
        <h2>Nos expertises</h2>
      <ul>
        <li>Étude et implantation optimisée</li>
        <li>Conception sur mesure</li>
        <li>Programmation et pilotage système</li>
        <li>Suivi technique et SAV</li>
      </ul>
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="{% url 'core:about' %}"><strong>À propos</strong></a></li>
        <li><a href="{% url 'blog:list' %}"><strong>Actualités</strong></a></li>
        <li><a href="{% url 'core:contact' %}"><strong>Contact</strong></a></li>
        <li><a href="{% url 'core:mentions_legales' %}"><strong>Mentions légales</strong></a></li>
        <li><a href="{% url 'core:politique_confidentialite' %}"><strong>Politique de confidentialité</strong></a></li>
      </ul>
    </div>

  </div>

  <p class="footer-bottom">&copy; 2026 ATECMI. Tous droits réservés.</p>
</footer>