{% extends "base.html" %}
{% load static %}

{% block title %}Encartonnage - ATECMI{% endblock %}

{% block content %} 
<section class="hero-encartonnage ">
    <img src="{% static 'images/encartonnage/Photo_haut_page_encartonnage.JPG' %}" alt="encartonnage" class="hero-img">
    <div class="hero-content">
        <h1>Dépalettisation : <br/> Fiabilité et cadence,<br/> dès la première opération </h1>
        <p>ATECMI développe des systèmes de dépalettisation automatisés <br/>sur-mesure, pensés pour sécuriser vos flux et optimiser <br/>vos cadences dès l’entrée de ligne.</p>
    </div>
</section>
{% endblock %} 